{% extends 'base.html' %} {% block title %}{{ pet.name }} - {% endblock %} {%
block content %}
<div class="container">
    <div class="row text-center">
        <h1 class="display-1">{{pet.name}}</h1>
    </div>
    <div class="row">
        <div class="col-5"><img src="{{ pet.photo_url }}" /></div>
        <div class="col-7">
            <p>Age: {{ pet.age }}</p>
            <p>{{pet.notes}}</p>
            <a href="/" class="btn btn-secondary">Back Home</a>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
        {% endfor %}
        <form method="POST" class="form-control">
            <h3 class="display-3">Edit Pet</h3>
            {{ form.hidden_tag() }} {% for field in form if
            field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }} {{ field }} {% for error in field.errors %}
                {{error }} {% endfor %}
            </p>
            {% endfor %}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
